<div class="page">
  <div class="all-contain ">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide slide-1">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white ">Explore Unique Cultural Crafts</h2>
              <h4 class="text-lg text-white">Discover exquisite handcrafted items from around the world, each telling a
                story of tradition and artistry.
              </h4>
              <div class="text-center centered center">
                <img src="../../assets/images/Bg/slider/tagline.png" alt="" style="height: 300px; width: 300px;">
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-2">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Celebrate Diversity in Crafts </h2>
              <h4 class="text-lg text-white mt-4">Immerse yourself in a rich tapestry of cultures as we bring you a
                diverse collection of artisanal creatio </h4>
              <div class="text-center centered center">
                <img src="../../assets/images/Bg/slider/tagline.png" alt="" style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-3">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Craftsmanship at Its Finest</h2>
              <h4 class="text-lg text-white mt-4">Experience the epitome of craftsmanship and heritage with our curated
                selection of cultural treasures.</h4>
              <div class="text-center centered center">
                <img src="../../assets/images/Bg/slider/tagline.png" alt="" style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-4">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Support Local Artisans</h2>
              <h4 class="text-lg text-white mt-4">Empower talented artisans and communities by shopping for authentic,
                locally-made crafts.</h4>
              <div class="text-center centered center">
                <img src="../../assets/images/Bg/slider/tagline.png" alt="" srcset=""
                  style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <section style="position: relative;">
      <section class="py-8 cards-container">
        <div class="flex justify-center px-4 pb-16">
          <div class="flex justify-center space-x-4 w-full">
            <div class="w-full md:w-1/2 lg:w-1/3 rounded items-center">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card1 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/volunteer.png" alt="" class="rounded  top-card-img bg-white">
                  </div>
                  <p class="heading">Artisan Spotlight</p>
                  <p class="para">Meet the Master Craftsmen</p>
                  <button class="button">Learn More </button>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded  ">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card2 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/DONATION.png" alt="" class="rounded  top-card-img bg-white">
                    <!-- <img src="../../assets/images/cards/projects.png" alt=" Projects Image" class="rounded top-card-img bg-black "> -->
                  </div>
                  <p class="heading">Craft Workshops</p>
                  <p class="para"> Unleash Your Creativity. </p>
                  <button class="button">Join Now</button>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card3 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/PROJECTS.png" alt="Donationimages "
                      class="rounded top-card-img bg-white">
                  </div>
                  <p class="heading">Donation</p>
                  <p class="para"> Community Marketplace, Connect with Craft Lovers.</p>
                  <button class="button"> DONATE NOW ! </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="blogs ">
        <div class="container wave py-8">
          <div class="heading text-center">
            <h1 class="title">Latest Blogs . . .</h1>
            <h2 class="sub-title">We Help Local Artsians to Get a Better Life.</h2>
          </div>
          <div class="flex flex-wrap py-16 ">
            <div class="w-full lg:w-3/4 px-4">
              <div class="flex space-x-4 itemsa-center">
                <div class="w-1/3 help-man hoverimg relative p-8">
                  <a routerLinkActive="active" [routerLink]="['contactus']" class="">
                    <div class="">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full rounded"
                          src="../../assets/images/blogs/blog 1.png">
                      </div>
                      Author: Abebe
                      Date : 3/1/2023
                    </div>
                    <div class="overlay"></div>
                  </a>
                </div>
                <div class="w-2/3 help-man-data text-left p-8">
                  <h2 class="text-2xl font-semibold">“Birth, Marriage and Death”</h2>
                  <h3 class="text-2xl">There are three things Oromos talk about in life: birth, marriage, and death.
                  </h3>
                  <p class="text-l">In Oromo law and tradition, although the human soul exists before birth, human life
                    begins at birth, that is, at the time when the child is more than halfway emerged from the mother’s
                    body.

                    In Oromia, women are helped through pregnancy and childbirth by female neighbors or female elders in
                    the community. Formal prenatal care may be unfamiliar, but women traditionally increase the amount
                    of meat in their diet and pay special attention to nutrition. If a woman was ready to deliver in
                    Oromia, she might notify a female friend but not her husband. Men are not supposed to participate at
                    all, and many women here are still reluctant to have their husbands involved in the birthing
                    process.

                    Immediately after birth, a woman is considered ulmaayee and must remain sexually separated from her
                    husband until the purification of next ministration cycle. After delivery, a woman is supposed to
                    rest in bed for forty days attended by the other women of the community, who cook special foods for
                    her and tend her other children while she regains her strength. Unfortunately, women have been
                    unable to do that here because of school, work, and logistical problems.

                  </p>
                  <button class="button mt-4 text-lg">READ MORE</button>
                </div>
              </div>
            </div>
            <!-- Second Section -->
            <div class="w-full lg:w-1/4 px-4">
              <h2 class="text-2xl">Trending Blogs</h2>
              <div class="blog-card">
                <div class="help-man hoverimg mt-4 relative flex items-center">
                  <div class="w-4/12 aspect-w-16 aspect-h-9">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <img alt="man" class="object-cover w-full h-full rounded"
                        src="../../assets/images/blogs/blog page 2.png">
                    </a>
                  </div>
                  <h3 class="text-lg font-semibold ml-4">We can’t afford to lose Irreechaa </h3>
                  <div class="overlay"></div>
                </div>
                <div class="help-man hoverimg mt-4 relative flex items-center">
                  <div class="w-4/12 aspect-w-16 aspect-h-9">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <img alt="man" class="object-cover w-full h-full rounded"
                        src="../../assets/images/blogs/blog page 3.png">
                    </a>
                  </div>
                  <h3 class="text-lg font-semibold ml-4">Dawee: Manifestations of an Oromo Prophecy </h3>
                  <div class="overlay"></div>
                </div>
                <div class="help-man hoverimg mt-4 relative flex items-center">
                  <div class="w-4/12 aspect-w-16 aspect-h-9">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <img alt="man" class="object-cover w-full h-full rounded"
                        src="../../assets/images/blogs/blog 1.png">
                    </a>
                  </div>
                  <h3 class="text-lg font-semibold ml-4">The Naming Ceremony of an Oromo Child</h3>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-32 px-16 campaign">
        <div class="py-32  heading text-center">
          <h1 class="title">Campaigns</h1>
          <h2 class="sub-title">Important Campaigns and Projects dates.</h2>
        </div>
        <app-campaign-container></app-campaign-container>
      </section>
      <section class="py-32 px-32 donation-section">
        <app-donation-container></app-donation-container>
      </section>
      <section class="py-16 px-32 events">
        <div class="container py-8">
          <div class="heading text-center">
            <h1 class="title">working on Events</h1>
            <h2 class="sub-title">Upcoming Events</h2>
          </div>
        </div>
        <div class="container">
          <div class="flex justify-center space-x-4 w-full gap gap-16">
            <!--  -->

            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 1.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Irrecha Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Bishoftu, </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 2.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Irrechaa Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Sheger City </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 3.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Epiphany Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Addis Ababa</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-16 px-32 shop">
        <div class="container py-8">
          <div class="heading text-center">
            <h1 class="title">Boraatti Gifts</h1>
            <h2 class="sub-title">Shop from Us </h2>
          </div>
          <app-shop-container class="py-8">

          </app-shop-container>
        </div>

      </section>
      <section class="py-16 px-16 partners">
        <div class="heading text-center">
          <h1 class="title" style="color: var(--secondary);"> Boraatti Partners </h1>
          <h2 class="sub-title" style="color: var(--secondary);">Working Together !!!.</h2>
        </div>
        <app-partner-container></app-partner-container>
      </section>
    </section>
  </div>
</div>
